body {
    height: 100vh;
}

main {
    height: 95vh;
}

/* add some styles for your cool navbar !*/
nav {
    height: 15vh;
    background-color: rgb(23, 23, 164);
    
}

h1 {
    color: darkturquoise;
    font-style: italic;
    font-size: xx-large;
    padding-left: 26em;
}
header {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* add some styles for your cool footer */
footer {
    height: 5vh;
    background-color: black;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

footer img{
    width: 40px;
}

footer a{
    text-decoration: none;
    color: white;
}

#redes {
    text-align: right;
    background-color: brown;
 
   
}
